.logo_nav img {
    width: 40px;
    margin-right: 10px;

}



.logo_divider img {
    width: 40px;
}

.color_primary  { /*cambio el color de el fondo principal*/
    background-color: blueviolet !important;
    
}

.margin{
    margin-top:-50px !important;
}
.navbar-nav a:hover{/*cambio el color de las letras del menu*/
    color:  #79fde1 !important;
}


#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #2c3e50;
    background: #02e4b3;
  }

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #2c3e50;
    background: #02e4b3;
}
.color_menu {
    background-color: #02e4b3 !important;
    color:#2c3e50 !important;
}

.pag_class_box img{
    
    width: 310px !important;
    height: 250px !important;
    
    border: black solid 6px;
    border-radius: 15px;
    text-decoration: none;
}

.pag_class_box img:hover  {
    
    
    border: rgb(184, 30, 255) solid 5px;
    border-radius: 15px;
    text-decoration: none;
    
    
}

.pag_class_box h4 {

    text-align: center;
    text-transform: uppercase;
    color: black;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
.pag_class_box a:hover {
    text-decoration: none !important;
    
}
.box_footer {
    display: flex;
}
.text_email a{
    color:#02e4b3 ;
    
}
.contac_color{
    background-color: #f6f6f6 !important;
}
.contac_size {
    height: auto;
    min-height: 700px;
    overflow-y: hidden;

}

