body{
    margin: 0px;
    background-color: rgb(46, 46, 46);
    
    
}

 article {
     
     background-color: rgba(255, 255, 255, 0.466);
     margin: auto;
     margin-top: 10%;
     margin-bottom: 20%;
     padding: 10px;
     width: 80%;
     

     
 }   

#header1{
    
    font-size: 20px;
    text-align: center;
    width: 90%;
    position: fixed;
    background-color: rgb(1, 111, 255);
     margin:  0px 5%;
    top: 0;

    
    
}

article header{
    font-size: 35px;
    font-family: 'Space Mono', monospace;
    text-align: center;
}
article section p{
    
    font-size: 18px;
    width: 60%;
    height: 90%;
    
    

}

article section img{
    position: absolute;
    right: 10%;
    bottom: 160px;
    width: 30%;




}

.theumbrela{
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    color: red;
}

footer{

    color: rgba(255, 255, 255, 0.76);
    background-color: rgba(0, 12, 66, 0.534);
    text-align: center;
    width: 100%;
    padding: 0%;
    position: fixed;
    bottom: 0;
}

